#header .burger-menu .main-item {
    display: none;
}
#header .burger-menu .main-item {
    display: block;
}
#header .burger-menu .navigation li {
    display: block;
}
#header .burger-menu {
    max-height:24px;
    padding:0;
    z-index: 1;
}
#header .burger-menu a {
    text-decoration: none;
    color: #fff;
}
#header .burger-menu .main-item {
    text-align: right;
    margin:47px 270px 0 0;
}
#header .burger-menu .navigation {
    text-align:right;
    background-color: rgba(100, 134, 154, 0.2);
}
#header .burger-menu .navigation ul {
    margin:-27px 360px 0 0;
}
#header .burger-menu .navigation li {
    padding-left:25px;
    display: inline-block;
    font: 16px "Source Sans Pro Light";
}
#header .burger-menu a:hover  {
    color:darkgray;
    transition: .6s;
}