/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
    #header .burger-menu .main-item {
        margin:47px 170px 0 0;
    }
    #header .burger-menu .navigation ul {
        margin:-27px 260px 0 0;
    }
    button.slick-prev {
        left: 25px;
        width: 45px;
        height: 45px;
    }
    button.slick-next {
        right: 25px;
        width: 45px;
        height: 45px;
    }
    #content .part-one .p_two {
        padding: 27px 230px 0 0;
    }
    #content .part-two .p_one {
        margin-top: -50px;
    }
}

@media only screen and (max-width : 1199px) {
    #content .part-one .p_two {
        padding: 27px 150px 0 0;
    }
    #content .part-one .h_two,
    #content .part-one .p_one,
    #content .part-one .p_two,
    #content .part-one button {
        margin-left: 15px;
    }
    #content .part-one .calendar {
        margin: -9px 25px 0 0;
    }
    #content .part-two .p_one {
        margin-top: 10px;
    }
    #content .part-two .L {
        margin: 154px 0 0 0;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
    #header .burger-menu .main-item {
        margin:47px 140px 0 0;
    }
    #header .burger-menu .navigation ul {
        margin:-27px 190px 0 0;
    }
    #header .burger-menu .navigation li {
        padding-left: 15px;
    }
    button.slick-prev {
        left: 20px;
        width: 40px;
        height: 40px;
    }
    button.slick-next {
        right: 20px;
        width: 40px;
        height: 40px;
    }
    #header .banner h1 {
        font-size: 55px;
    }
    #content .part-one {
        text-align: center;
    }
    #content .part-one .p_two {
        padding: 27px 0 0 0;
        line-height:30px;
    }
    #content .part-one .calendar {
        margin: 90px 0 0 0;
        float: none;
    }
    #eventCalendar {
        margin: 0 auto;
    }
    #content .part-one .h_two,
    #content .part-one .p_one,
    #content .part-one .p_two,
    #content .part-one button {
        margin-left: 0;
    }
    #content .part-one .block {
        margin-top: 100px;
    }
    #content .part-one button {
        margin-top: 47px;
    }
    #content .part-two .p_one {
        margin-top: -400px;
    }
    #content .part-two .L {
        margin: 100px 0 0 41px;
    }
    #content .part-two .p_two,
    #content .part-two .p_three {
        margin-top: 55px;
    }
    #content .part-two .p_four,
    #content .part-two .p_five {
        padding: 15px 0 10px 0;
    }
    #content .part-two .p_five {
        padding-bottom: 70px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
    #header .burger-menu .main-item {
        margin:47px 90px 0 0;
    }
    #header .burger-menu .navigation ul {
        margin:-27px 135px 0 0;
    }
    #header .burger-menu .navigation li {
        padding-left: 15px;
    }
    button.slick-prev {
        left: 10px;
        width: 36px;
        height: 36px;
    }
    button.slick-next {
        right: 10px;
        width: 36px;
        height: 36px;
    }
    #header .banner h1 {
        font-size: 50px;
    }
    #header .banner p {
        padding-top: 15px;
        font: 16px "Open Sans Italic";
    }
    #content .part-two .L {
        margin: 100px 0 0 22px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
    #header .burger-menu .main-item {
        margin:47px 15px 0 0;
    }
    #header .burger-menu .navigation ul {
        margin:-27px 60px 0 0;
    }
    #header .burger-menu .navigation li {
        padding-left: 10px;
    }
    button.slick-prev,
    button.slick-next {
        border: none;
    }
    button.slick-prev {
        left:0 ;
        width: 25px;
        height: 25px;
    }
    button.slick-next {
        right: 0;
        width: 25px;
        height: 25px;
    }
    #header .banner h1 {
        font-size: 47px;
    }
    #header .banner p {
        font: 14px "Open Sans Italic";
    }
}
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 479px) {
    #header .slider {
        display: none;
    }
    #header  {
        background: url("img/header_bg.jpg");
    }
    #header .burger-menu .navigation ul {
        margin:-27px 55px 0 0;
    }
    #header .burger-menu .navigation li {
        padding-left: 7px;
    }
    #header .banner {
        top: 282px;
        bottom:0;
    }
    #header .banner h1 {
        font-size: 40px;
    }
    .eventCalendar-daysList.eventCalendar-showAsWeek li {
        margin: -1px;
    }
    #eventCalendar {
        height:390px;
        width: 300px;
        left:8px;
    }
    .eventCalendar-prev {
        left: 1px;
    }
    .eventCalendar-next {
        right: 17px;
    }
    .eventCalendar-currentTitle .eventCalendar-monthTitle {
        padding-right:23px;
    }
    #content .part-two .L {
        margin: 100px 0 0 0;
    }
    #content .part-five .block_one .p_two {
        padding-left:20px;
        padding-right:10px;
        width: auto;
    }
}

@media only screen and (max-width : 320px) {
    #eventCalendar {
        left:3px;
    }
}

@media only screen and (min-width : 768px) and (max-width: 991px) {

}

@media only screen and (min-width : 992px) and (max-width: 1199px) {

}

/*------ Mobile First Method ------*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #header .burger-menu .navigation {
        display: none;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
