#header .slider {
    margin-top: -75px;
    height: 822px;
}
#header .slider .one_bg {
    height: 822px;
    background: url("img/header_bg.jpg") no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
#header .slider .two_bg {
    height: 822px;
    background: url("img/header_bg_two.jpg") no-repeat center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
button.slick-prev {
    left: 40px;
}
button.slick-next {
    right: 40px;
}
button.slick-prev,
button.slick-next {
    width: 50px;
    height: 50px;
    z-index: 1;
    position: absolute;
    top: 52.2%;
    display: block;
    cursor: pointer;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
 }
button.slick-prev:before,
button.slick-next:before {
    opacity: 1;
}
.slick-prev:before {
    content: url("img/arrow_left.png");

}
.slick-next:before {
    content: url("img/arrow_right.png");
}
button.slick-prev:hover,
button.slick-next:hover {
    opacity:0.6;
}
@-moz-document url-prefix() {
    #header .slider {
        position: relative;
        bottom: 74px;
    }
    .slick-list {
        width: 100%;
    }
}
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    ::i-block-chrome, button.slick-prev,
    button.slick-next  {
        width: 47px;
        height: 47px;
    }
}
