/* footer */
#footer {
  min-height: 706px;
  background: url("../img/header_bg_two.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  h1 {
    padding-top: 274px;
    font: 37px "Open Sans Extrabold";
    color: #fff;
  }
  button {
    margin-top: 58px;
    font: 16px "Lato Bold";
    color: #fff;
    outline: none;
    width: 250px;
    height: 59px;
    border-radius: 50px;
    border: none;
  }
  .b_one {
    background: #3671b9 url("../img/facebook.png") no-repeat 29px;
  }
  .b_two {
    background: #55c1e7 url("../img/twitter.png") no-repeat 29px;
    margin-left:20px;
  }
  .b_one:hover {
    color: #3671b9;
    background-color: #DCDCDC;
    box-shadow: 0 0 10px 2px #3671b9;
    transition:  .6s;
  }
  .b_two:hover {
    color: #55c1e7;
    background-color: #DCDCDC;
    box-shadow: 0 0 8px 2px #55c1e7;
    transition:  .6s;
  }
  a {
    text-decoration: none;
  }
  p {
    padding-top: 207px;
    font: 16px "Open Sans Italic";
    color: #fff;
    opacity: 0.9;
    letter-spacing:1px;
  }

}